/* ------ style for css-demo------ */

*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ------- Global styles ------ */
body{
    background-color: rgb(255, 229, 249);
}
body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
header.primary{
  background-color: rgb(208, 187, 227);
  color:#ffffff;
  text-shadow: 1px 1px #000000;
  text-align: center;
  padding: 40px;
  /*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px; 
/* T,R,B,L */
padding: 20px 40px 20px 40px; 
/* Two Value Top/Bottom / L/R */
padding: 20px 40px;  
}
header.primary h1{
  font-size:2.4rem;
  margin:20px 0 10px; 
}
header.primary h1 a{
  color: #ffffff;
  text-decoration: none;
}
header.primary h2{
font-size:1.4rem ;
margin:0;
}
header.primary nav{
  background-color: rgb(236, 223, 235);
  max-width: 800px;
  margin: 20px auto;
}
header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  padding:0;
}
header.primary nav ul li{
  list-style-type: none;
}
header.primary nav ul li a {
color: #ffffff;
text-decoration: none;
background-color: rgb(234, 190, 221);
background-color:rgba(0,0,0,.4);
padding: 5px 10px;
border: 1px solid;
border-radius: 20px 5px;
opacity: .4;
transition: .5s;
}
header.primary nav ul li a:hover{
  background-color:rgba(0,0,0,.8);
}